.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-view {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  margin-top: 1%;
  border: wheat;
}

.usernames {
  margin-bottom: 1rem;
  background-color: #FEE440;
  height: 2rem;
  width: 48rem;
}

.name {
  text-align: center;
  background-color: #FF0000;
}
